{% extends 'base.html.twig' %}

{% block title 'Sujets' %}

{% block body %}
    {% for subject in subjects %}
        <article class="card card-block {% if subject.vote < 0 %}wrongSubject{% endif %}">
            <h3 class="card-title">{{ subject.title }}</h3>
            <section class="card-text">{{ subject.description }}</section>
            <span class="card-text">
                <small class="text-muted">
                    {{ subject.updatedAt|localizeddate }}
                </small>
            </span>
            <a href="{{ path('subject_id', {id:subject.id}) }}">Découvrir plus</a>
            <p>Nbre de vote: {{ subject.vote }}</p>
        </article>

        <style>
            .wrongSubject{background-color:darkgray;}
        </style>
    {% endfor %}
{% endblock %}